.payment-container {
  width: 31rem;
  height: 64rem;
  z-index: 2;
  position: absolute;
  background: rgba(37, 40, 54, 1);
  display: flex;
  justify-content: flex-end;
}

.payment_order {
  width: 100%;
  height: 57.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

/* Header Payment */

.payment-header {
  padding-bottom: 1rem;
  width: 100%;
  margin: 0 auto;
}

.payment-header__title {
  padding-bottom: 1rem;
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 1);
}

.payment-header__text {
  padding-bottom: 0.2rem;
  color: rgba(171, 187, 194, 1);
}

.payment-navigation__line {
  border: 1px solid rgba(57, 60, 73, 1);
}

/* Section payment */
.payment-method {
  width: 100%;
  height: 30.7rem;
  margin-top: 1.5rem;
}

.payment-method__text {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}

.payment-method__item {
  width: 100%;
  margin-top: 1.5rem;
}

.payment-method__card {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}

.card {
  width: 6.3rem;
  height: 4rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(31, 29, 43, 1);
  text-align: center;
  border: 1px solid rgba(57, 60, 73, 1);
}

.card-img {
  width: 1.5rem;
  height: 1.5rem;
}

.card-text {
  color: rgba(171, 187, 194, 1);
}

.payment-method__form {
  /* width: 100%; */
  /* display: flex; */
}

.form-name {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.form-name input {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(57, 60, 73, 1);
  background: rgba(45, 48, 62, 1);
}

.form-method__date {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-date {
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

.payment-line {
  margin-top: 1rem;
  width: 26.3rem;
  border: 1px solid rgba(57, 60, 73, 1);
}

.form-date input {
  width: 12.7rem;
  height: 3rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(57, 60, 73, 1);
  background: rgba(45, 48, 62, 1);
}

.payment-method__order {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 1);
}

.payment-method__order-option {
  width: 12.6rem;
  height: 3rem;
  color: red;
}
