.sidebar-container {
  width: 6.25rem;
  height: 64rem;
  background: #1f1d2b;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar-menu {
  height: 64rem;
  width: 6rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar-menu__items {
  width: 6rem;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-menu__item {
  width: 6rem;
  height: 6.5rem;
  padding: 1rem;
  background: rgba(37, 40, 54, 1);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-menu__link {
  width: 3.375rem;
  height: 3.375rem;
  background: rgba(234, 124, 105, 1);
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.3);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  fill: rgba(255, 255, 255, 1); /* SVG ichki rangi */
  stroke: rgba(255, 255, 255, 1); /* Chiziq rangi */
  stroke-width: 0px; /* Chiziq qalinligi */
}

.colored-icon {
  filter: brightness(0) invert(1);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-menu__button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.cart-count {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  background: #12b87b;
  color: white;
  font-size: 0.75rem;
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.sidebar-market__button {
  background: #1f1d2b;
  border: 1px solid #1f1d2b;
  cursor: pointer;
}
