.home-container {
  width: 100%;
  height: 64rem;
  margin: 0 auto;
  position: relative;
  background-color: #252836;
  display: flex;
}

/* Home header */

.home-discreption {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.home-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home-resto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 11.75rem;
  height: 4.5rem;
}

.home-resto__name {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
}

.home-resto__date {
  font-size: 1rem;
  color: #e0e6e9;
  font-weight: 400;
}

.home-search {
  position: relative;
  width: 23rem;
  height: 3.4rem;
}

.home-search__text {
  padding-left: 5rem;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background: #393c49;
  border: 2rem;
  border-radius: 0.5rem;
}

.home-header__icon {
  position: absolute;
  right: 20rem;
  top: 1rem;
}

/* Home navigation */

.home-navigation {
  width: 100%;
  margin: 0 auto;
}

.home-navigation-items {
  list-style: none;
  width: 100%;
  height: 2.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

#hot {
  color: #ea7c69;
}

.home-navigation__text {
  cursor: pointer;
  font-size: 1.12rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid gray;
  flex: 1;
  text-align: center;
}

.home-navigation__choose {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home-navigation__prise {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.home-navigation__prise__text {
  width: 11.6rem;
  height: 3.3rem;
  font-size: 1.25rem;
  border: 0.1rem solid #ffff;
  background: #1f1d2b;
  display: flex;
  border-radius: 0.5rem;
  text-align: center;
  color: #ffffff;
}

.active {
  color: #ea7c69;
  border-color: #ea7c69;
}

/* Home section */

.home-section {
  width: 100%;
  height: 42rem;
  margin-top: 2.5rem;
  overflow: auto;
  scrollbar-width: none;
}

.home-items {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-item {
  margin: 0.7rem;
  text-align: center;
}

.home-item__details {
  padding-top: 7rem;
  width: 15.6rem;
  height: 21.5rem;
  border-radius: 1.2rem;
  background: #1f1d2b;
}

.home-item__img {
  width: 12rem;
  height: 12rem;
  margin-bottom: -90px;
}

.home-item__name {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
}

.home-item__price {
  padding: 0.8rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.125rem;
}

.home-item__bowls {
  font-size: 1.125rem;
  font-weight: 400;
  color: #abbbc2;
}

.home-item__button {
  width: 11.25rem;
  height: 2.875rem;
  margin-top: 2.5rem;
  font-size: 1.25rem;
  color: #ffffff;
  background: #ea7c69;
  border-radius: 0.5rem;
  border: 1px solid #ea7c69;
}
