.active {
  color: #ea7c69;
}

#cold {
  text-decoration: none;
}

.home-footer__text li {
  font-size: 1.12rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.footer-container {
  display: flex;
}
